
<!--start of navbar 1 -->
  <nav class="navbar navbar-imp navbar-expand-lg navbar-dark pb-0 sticky-top" style="background-color: #10847e; box-shadow: none;">
    <div class="container-fluid mx-5">
      <a class="navbar-brand mb-0 h1" href="/">
        <img src="Home_Images/Untitled-2.1 (1).jpg" width="175" height="50" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" style="color: aliceblue; background-color: 00a59c !important;">
        <span class="navbar-toggler-icon" style="z-index: 100; background-image: url('./Home_Images/download.svg');"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-lg-between w-100 " id="navbarTogglerDemo02">  
        <div class="navbar-nav col-lg-7">
          <form class="d-flex  col my-auto " >
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="search">
          <button class="btn btn-outline-success" type="submit">
            Search
          </button>
        </form>
        </div>
        <div class="navbar-nav d-flex">
          <div class="cart m-auto link-light">
            <img src="Home_Images/21b0b5ba.svg" width="30px" height="25px" alt="">
            <span>Cart</span>
          </div>
          <div class="login m-auto" id="login">
            <a href="/login" class="link-light">
              <img src="Home_Images/5eb42971.svg" width="26px" height="25px" alt="">
              <span><a class="link-light" href="/login">Login</a>/ <a class="link-light" href="/signup">SignUp</a></span>
            </a>
          </div>  
          <div class="justify-content-center d-none" id="logout">
            <form action="/logout" class="d-flex align-items-center my-auto"  method="post">
              <img src="Home_Images/5eb42971.svg" width="26px" height="25px" alt="">
              <button class="btn-outline-light btn" type="submit">Logout</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav> 
<!-- end of navbar 1 -->

<!-- start of navbar 2 -->
<div class="container-fluid text-white text-center" style="background-color: #10847e;">
    <ul class="nav ">
      <div class="col" id="my-row">
        <li class="nav-item" >
          <a class="nav-link text-white" aria-current="page" href="#">Medicines</a>
        </li> 
      </div>
      <div class="col" id="my-row">
        <li class="nav-item">
          <a class="nav-link text-white"  href="#">Covid Care</a>
        </li>
      </div>
      <div class="col" id="my-row">
        <li class="nav-item">
          <a class="nav-link text-white"  href="#">Health Care</a>
        </li>
      </div>
      <div class="col" id="my-row">
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Devices</a>
      </li>
      </div>
      <div class="col" id="my-row">
        <li class="nav-item">
          <a class="nav-link text-white"  href="#">Baby Care</a>
        </li>
      </div>
    </ul>
</div>
<!-- end of navbar 2 -->