
.my-row{
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  padding-top: 0px 1em .5em 1em;
  /* position: absolute; */
}
.cart{
  color: white;
  position: relative;
  display: flex;
  padding-left: 20px;
}
.login{
  color: white;
  position: relative;
  display: flex;
}
/* #my-row:after{
  content: ;
} */

.container-fluid .nav .nav-link
      {
        color: #ffffff;
        font-size: 1.1em;
        position: relative;
      }
      .container-fluid .nav .nav-link:hover 
      {
        color: #ffffff;
      }
      .container-fluid .nav .nav-link::after 
      {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #ffffff;
        color: transparent;
        width: 0%;
        content: '.';
        height: 3px;
      }
      .container-fluid .nav .nav-link:hover::after 
      {
        width: 60%;
      }
      .container-fluid .nav .nav-link:hover::after
      {
        transition: all 0.5s;
      }