<html>

<head>
    {{>header}}
    <style>
*{
    box-sizing: border-box;
}
.breadcrumb{
    margin-top: 30px;
    height:auto;
}
#fline{
    max-width: 1024px;
    margin: 0 auto;
    min-height: 4vh;
    margin-top: 15px;
}
.breadcrumb-item{
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1.5;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #4f585e;
    padding: 0;
}
.breadcrumb-item a{
    text-decoration: none;
    cursor: pointer;
}
.container-fluid .nav .nav-link
{
    color: #ffffff;
    position: relative;
    font-size: 1.1em;
}
.container-fluid .nav .nav-link:hover 
{
    color: #ffffff;
}
.container-fluid .nav .nav-link::after 
{
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ffffff;
    color: transparent;
    width: 0%;
    content: '.';
    height: 3px;
    position: absolute;
}
.container-fluid .nav .nav-link:hover::after 
{
    width: 30%;
}
.container-fluid .nav .nav-link:hover::after
{
    transition: all 0.5s;
}
h2{
    min-height: 3 vh;
    margin: 0 auto;
    color: #495055;
    max-width: 1024px;
    }
.row{
    max-width: 1024px;
    min-height: 3 vh;
    margin: 0 auto;
}
</style>
</head>

<body>
    {{>nav}}

    <!-- start of breadcrumb -->

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb" id="fline">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Baby Care</li>
        </ol>
    </nav>

    <!-- end of breadcrumb -->

    <!-- heading -->
    <h2>Baby Care</h2>


    <!-- strating of cards -->


    <div class="row row-cols-3 row-cols-md-4 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/S60658/huggies-wonder-pants-medium-size-diapers-38-count-2-1632780526.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top" alt="..." />
                <div class="card-body text-center h-100">
                    <h5 class="card-title">Huggies Wonder Pants Medium Size Diapers - 38 Count</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/V50472/beebaby-gentle-2-in-1-slim-neck-baby-feeding-bottle-with-anti-colic-silicone-nipple-plastic-feeder-spoon-8m-green-250-ml-2-1633942334.jpg?dim=240x0&dpr=1.5&q=100"
                    alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Beebaby Gentle 2 In 1 Slim Neck Baby Feeding Bottle</h5>
                    &nbsp;
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/V77865/tiffy-toffee-99-water-baby-wet-wipes-pack-of-3-x-80s-3-1632784047.jpg?dim=240x0&dpr=1.5&q=100"
                    alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Tiffy & Toffee 99% Water Baby Wet Wipes)</h5>
                    &nbsp;
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/329404/depura-kids-nano-vitamin-d3-drops-for-kids-400-ui-per-05-ml-dropper-for-appropriate-dosage-2-1632774462.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Depura Kids, Nano Vitamin D3 Drops For Kids, 400 Ui </h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/P26899/ultra-d3-drops-vitamin-d3-for-infants-vitamin-drops-bottle-of-15-ml-2-1632776634.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Ultra D3 Drops - Vitamin Drops Bottle Of 15 Ml</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/I32140/dexolac-baby-food-stage-1-infant-formula-upto-6-months-box-of-400-g-1-1632776258.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Dexolac Baby Food Stage Infant Formula Box Of 400 G</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/229247/protinex-mama-chocolate-nutrition-drink-tin-of-400-g-2-1632774309.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Protinex Mama Chocolate Nutrition Drink Tin Of 400 G</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/329300/nestle-lactogen-1-infant-formula-powder-upto-6-months-stage-1-400g-bag-in-box-pack-1-1632774520.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Nestle Lactogen Stage 1, 400g Bag-in-box Pack</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/067886/enterogermina-probiotic-supplement-for-diarrhea-for-kids-adults-1-strips-4-capsules-each-2-1633774190.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Enterogermina- 1 Strips (4 Capsules Each)</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/V80880/happa-organic-baby-food-ragi-mango-banana-porridge-200gm-1-1632784963.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Happa Organic Baby Food Ragi Mango - 200gm</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/P03844/huggies-dry-medium-size-diapers-60-count-2-1632782205.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Huggies Dry Medium Size Diapers - 60 Count</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/I06993/himalaya-gentle-baby-wash-bottle-of-400-ml-2-1632775434.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Himalaya Gentle Baby Wash Bottle Of 400 Ml)</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ending of cards -->
    {{>footer}}
</body>

</html>