<html>

<head>
    {{>header}}
</head>

<body>
    {{>nav}}

    <!-- strating of breadcrumb -->
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb" id="fline">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Covid Care</li>
        </ol>
    </nav>

    <!-- ending of breadcrumb -->

    <!-- heading -->
    <h2>Covid Essentials</h2>


    <!-- straing of cards -->


    <div class="row row-cols-3 row-cols-md-4 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/022290/becozym-c-forte-vitamin-b-complex-biotin-vitamin-c-strip-of-15-tablets-1-1635055847.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Forte(Vitamin B Complex)Strip Of 15 Tablets</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/I05582/dr-morepen-gluco-one-bg-03-glucometer-test-strips-box-of-50-1-1632775254.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Dr Morepen 03 Glucometer Test Strips Box Of 50</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/I01462/seacod-110-cod-liver-oil-capsules-bottle-of-110-1-1632774260.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Seacod 110 Cod Liver Oil Capsules Bottle Of 110</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/266249/depura-60000-iu-vitamin-d3-oral-solution-helps-bones-healthy-aids-in-boosting-immunity-sugarfree-2-1632774372.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Depura, helps Bones Healthy, Aids In Boosting Immunity</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/V09720/dettol-antiseptic-liquid-bottle-of-250-ml-2-1632778263.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Dettol Antiseptic Liquid Bottle Of 250 Ml</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/F22184/ourdaily-vitamin-c-500mg-zinc-chewable-tablets-builds-immunity-against-viruses-and-cold-lemony-orange-flavour-15-tablets-2-1632779046.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Ourdaily Vitamin C (500mg) Orange Flavour-15 Tablets</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/O31911/everherb-ashwagandha-immunity-booster-capsules-anxiety-stress-relief-bottle-of-60-6.1-1632777393.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Everherb Ashwagandha for Anxiety-Bottle Of 60</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/156765/savlon-antiseptic-disinfectant-liquid-1000-ml-2-1632774183.jpg"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Savlon Antiseptic Disinfectant Liquid 1000 Ml</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/060754/dr-morepen-bg-03-glucometer-kit-with-free-25-strips-1-1632775169.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Dr Morepen Bg 03 Glucometer Kit (with Free 25 Strips)</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/O35200/dettol-surface-disinfectant-spray-sanitizer-for-germ-protection-on-hard-soft-surfaces-spring-blossom-225ml-2-1632783214.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Dettol Disinfectant Sanitizer Spray Bottle 225ml)</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/131677/one-touch-select-glucometer-test-strips-bottle-of-25-2-1632775277.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">One Touch Glucometer Test Strips Bottle Of 25</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/I05007/dettol-instant-original-hand-sanitizer-bottle-of-200-ml-2-1632775118.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Dettol Hand Sanitizer Liquid Gel Pump - 200ml</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ending of cards -->





    {{>footer}}
</body>

</html>