<html>

<head>
    {{>header}}
</head>

<body>
    {{>nav}}
    <!-- strating of breadcrumb -->
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb" id="fline">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Devices</li>
        </ol>
    </nav>
    <!-- ending of breadcrumb -->

    <!-- heading -->
    <h2>Devices</h2>


    <!-- starting of cards -->
    <div class="row row-cols-3 row-cols-md-4 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/I05582/dr-morepen-gluco-one-bg-03-glucometer-test-strips-box-of-50-1-1632775254.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Gluco One Bg 03 Glucometer Test Strips Box Of 50</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/000665/accu-chek-active-glucometer-test-strips-box-of-50-1-1632775258.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Accu-chek Active Glucometer Test Strips Box Of 50</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/060754/dr-morepen-bg-03-glucometer-kit-with-free-25-strips-1-1632775169.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Dr Morepen Bg 04 Glucometer Kit (with Free 25 Strips)</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/131679/one-touch-select-glucometer-test-strips-bottle-of-50-1-1632774215.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">One Touch Select Glucometer Test Strips Bottle Of 50</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/131677/one-touch-select-glucometer-test-strips-bottle-of-25-2-1632775277.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">One Touch Select Glucometer Test Strips Bottle Of 30</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/V46471/one-touch-select-plus-glucometer-test-strips-box-of-25-6.2-1632777282.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">One Touch Select Plus Glucometer Test Strips</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/M67325/bpl-smart-oxy-finger-tip-pulse-black-oximeter-black-2-1632777362.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Bpl Smart Oxy Finger Tip Pulse Black Oximeter (black)</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/337876/one-touch-verio-glucometer-test-strips-box-of-50-2-1632775539.jpg"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">One Touch Verio Glucometer Test Strips Box Of 50</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/B39499/pharmeasy-hot-water-bag-blue-2-1632784112.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Pharmeasy Hot Water Bag 2 Liter capacity- Blue</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/D70449/oxysat-finger-tip-pulse-oximeter-with-2-batteries-18-months-warranty-2-1632779403.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Oxysat - Finger Tip Pulse Oximeter With 2 Batteries</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/B41342/medlife-automatic-blood-pressure-monitor-device-1-2-1632779476.jpg?dim=240x0&dpr=1.5&q=100"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Medlife Automatic Blood Pressure Monitor Device 1</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdn01.pharmeasy.in/dam/products_otc/M12709/dr-odin-digital-thermometer-2-1632778053.jpg?dim=240x0&dpr=1&q=100"
                    class="card-img-top p-4" alt="..." />
                <div class="card-body h-100">
                    <h5 class="card-title">Accusure Digital Thermometers Mt 1027 Hard Tip (white)</h5>
                    <p class="card-text">

                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ending of cards -->




    {{>footer}}
</body>

</html>