<html>
    <head>
        {{!-- headers --}}
        {{>header}}
    </head>
    <body>
        {{!-- navbars --}}
    {{>nav}}

    <div class="container ms-auto my-4 p-1" >
	    <section class="vh-100" style="background-color: #10847e; border-radius: 1rem;">
	    	<div class="container py-5 h-100">
	    	  <div class="row d-flex justify-content-center align-items-center h-100">
	    		<div class="col-12 col-md-8 col-lg-6 col-xl-5">
	    		  <div class="card shadow-2-strong" style="border-radius: 1rem;">
	    			<div class="card-body p-5 text-center">
                    
	    			  <h3 class="mb-5">Sign in</h3>
    
	    			  <form action="/login" method='post'>

                <div class="form-outline mb-4 shadow-2 border" style=" border-radius: 1rem;">
                  <input type="email" name='email' required id="email" class="form-control form-control-lg" />
                  <label class="form-label" for="email">Email</label>
                </div>            
                <div class="form-outline mb-4 shadow-2 border" style=" border-radius: 1rem;">
                  <input type="password" name='password' required id="Password" class="form-control form-control-lg" />
                  <label class="form-label" for="Password">Password</label>
                </div>

                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
              </form>
	    			  <a href="/signup" class="">
	    				<button class="btn btn-primary btn-lg btn-block my-2">SignUp</button>
	    			  </a>
	    			</div>
	    		  </div>
	    		</div>
	    	  </div>
	    	</div>
	    </section>
    </div>

    {{!-- footer --}}
    {{>footer}}
    </body>
</html>